@import "src/dist/scss/_variable";
@import "src/dist/scss/setting";
@import "src/dist/scss/home";
@import "src/dist/scss/_footer";
@import "src/dist/scss/yellgar-intro";
@import "src/dist/scss/about";


.y-prcoess-frame {
  min-height: 100vh;
  margin-top: 250px;
  padding-top: 110px;
  .summary {
    background-color: $deepblue;
    width: 60%;
    min-height: 250px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    align-items: center;
    margin-bottom: -250px;
    margin-top: 100px;
    h2 {
      margin: 0 auto;
      color: white !important;
      font-weight: 300;
    }
  }
  .y-prcoess-title {
    @include gradient-green();
    width: 40%;
    height: 100px;
    align-items: center;
    display: flex;
    left: 0;
    position: absolute;
    margin-top: -50px;
    z-index: 5;
    h1 {
      color: $deepblue;
      padding-left: 50px;
    }
  }
  .t-contnet {
    padding: 5% 50px 100px 50px;
    width: 70%;
    background-color: $lightblue;
    margin-bottom: 80px;
    h2 {
      margin-top: 50px;
      margin-bottom: 8px;
    }
    h3 {
      margin-top: 0px;
    }
  }
  .mvp-content {
    padding: 5% 50px 100px 50px;
    width: 75%;
    background-color: $lightblue;
    .wireframe {
      position: absolute;
      right: 20%;
      max-width: 320px;
      margin-top: -450px;
      z-index: 5;
    }
    .list {
      width: 55%;
      .list-item {
        margin-top: 30px;
      }
    }
  }
  .mvp-outcome {
    padding: 5% 50px 100px 50px;
    width: 84%;
    background-color: $lightblue;
    margin-top: 320px;
    h3 {
      width: 55%;
    }
    .content-frame {
      width: 80%;
    }
    .outcome-img {
      position: absolute;
      right: 5%;
      margin-top: -280px;
      margin-bottom: 50px;
      img {
        max-width: 320px;
        vertical-align: top;
        z-index: 5;
      }
      .right {
        padding-left: 20px;
      }
    }
   }
   .mvp-oz {
    background-color: $lightblue;
    padding: 50px 50px 130px 50px;
    margin-top: 450px;
    .frame {
      width: 80%;
      margin: 0 auto;
      .oz-img {
        margin-top: 50px;
        text-align: center;
        img {
          width: 60%;
          margin-bottom: 40px;
        }   
      }
    }
   }
  .research-content {
    padding: 5% 50px 100px 50px;
    width: 75%;
    background-color: $lightblue;
    .content-frame {
      width: 80%;
    }
    .customer-img {
      position: absolute;
      right: 15%;
      margin-top: -250px;
    }
  }
  .full-width-content {
    background-color: $lightblue;
    padding: 50px 50px 130px 50px;
    img {
      width: 100%;
      margin-bottom: 40px;
    }
  }
  .persona-frame {
    width: 100%;
    background-color: $lightblue;
    padding: 50px 50px 10px 50px;
    margin-top: 180px;
    .content-frame {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 80px;
      .persona-title {
        font-weight: 400;
        margin-bottom: 5px !important;
      }
      h2 {
        margin-bottom: 30px;
      }
      h3 {
        margin-top: 0px;
        margin-bottom: 30px;
      }
    }
  }
  .landing-frame {
    width: 100%;
    background-color: $lightblue;
    padding: 50px 50px 40px 50px;
    margin-top: 80px;
    .content-frame {
      width: 80%;
      margin: 0 auto;
    }
    .landing-img {
      width: 80%;
      margin: 0 auto;
      margin-top: 40px;
      text-align: center;
      img {
        width: 100%;
        margin-bottom: -100px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .y-prcoess-frame {
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 120px;
    .y-prcoess-title {
      width: 100%;
      position: relative;
      margin-top: 0px;
      h1 {
        padding-left: 0px;
        margin: 0 auto;
      }
    }
    .t-contnet {
      padding: 2px 25px 100px 25px;
      width: 100%;
    }
    .full-width-content {
      padding: 50px 25px 130px 25px;
      .summary {
        width: 90%;
        padding: 15px;
        margin-bottom: -200px;
        margin-top: 100px;
      }
    }
  }
}